<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Menús</mat-card-title>
    <span class="flex-1-auto"></span>
    <button mat-fab extended color="primary" (click)="openFoodDialog()" class="m-l-10">
      <div class="d-flex align-items-center">
        <i-tabler name="plus" class="icon-20 d-flex m-r-10"></i-tabler>
        <p style="font-size: larger">Nuevo Registro</p>
      </div>
    </button>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <div class="row">
      <div class="m-l-20">
        <table mat-table [dataSource]="dataSource" class="table-borderless">

          <mat-header-row matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600"> ID</th>
            <td mat-cell *matCellDef="let element"> {{ element.id }}</td>
          </mat-header-row>

          <!-- Food Column -->
          <mat-header-row matColumnDef="food">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600"> Nombre</th>
            <td mat-cell *matCellDef="let element">
              <div class="d-flex align-items-center">
                <img width="40" height="40" class="rounded-circle" ngSrc="{{ element.image }}" alt="{{ element.name }}">
                <div class="m-l-16">
                  <p class="mat-subtitle-1 f-s-16">{{ element.name }}</p>
                  <small class="mat-body-1 f-s-14">{{ element.categoryName }}</small>
                </div>
              </div>
            </td>
          </mat-header-row>

          <mat-header-row matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600"> Descripción</th>
            <td mat-cell *matCellDef="let element"> {{ element.description }}</td>
          </mat-header-row>

          <mat-header-row matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600"> Precio</th>
            <td mat-cell *matCellDef="let element" class="f-w-600">S/. {{ element.price | number: '1.2-2' }}</td>
          </mat-header-row>

          <!-- Active Column -->
          <mat-header-row matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600"> Activo</th>
            <td mat-cell *matCellDef="let element">
              <mat-slide-toggle [checked]="element.active" (change)="confirmChange($event, element)"></mat-slide-toggle>
            </td>
          </mat-header-row>

          <mat-header-row matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;" class="f-s-16 f-w-600"> Acciones</th>
            <td mat-cell *matCellDef="let element">
              <button mat-fab color="primary m-2" (click)="openFoodDialog(element)" class="m-r-10 cursor-pointer">
                <i-tabler name="edit" class="icon-18"></i-tabler>
              </button>
              <button mat-fab color="warn m-2" (click)="delete(element)" class="m-r-10 cursor-pointer">
                <i-tabler name="trash" class="icon-18"></i-tabler>
              </button>
            </td>
          </mat-header-row>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 20, 30, 50, 100]" showFirstLastButtons aria-label="Select page of foods">
        </mat-paginator>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<!--<mat-form-field appearance="outline" class="w-100 mat-mdc-form-field-has-icon-suffix">
  <mat-label class="f-s-16">Buscar</mat-label>
  <div class="mat-mdc-text-field-wrapper mdc-text-field">
    <input matInput formControlName="search">
    <div class="mat-mdc-form-field-icon-suffix">
      <mat-icon>
        <i-tabler name="search" class="icon-20"></i-tabler>
      </mat-icon>
    </div>
  </div>
</mat-form-field>-->
