<mat-sidenav-container class="mat-drawer-container mat-sidenav-container">
  <mat-sidenav-content class="mat-drawer-content mat-sidenav-content">
    <div class="blank-layout-container justify-content-center">
      <div class="row">
        <div class="col-12 text-center">

          <img src="/assets/images/svgs/errorimg.svg" alt="error-bg">

          <div  class="d-flex justify-content-center">
            <img src="./assets/images/logos/burger-blend2.svg" class="align-middle m-5" alt="logo"/>
            <img src="./assets/images/logos/burger-blend-text.svg" class="align-middle m-l-10" alt="logo"/>
          </div>

          <h2 class="auth-title f-w-600">Opps!!!</h2>
          <h6 class="f-s-20 f-w-600 m-b-30">No se ha podido encontrar esta página que buscas.</h6>
          <button mat-fab extended color="primary"
             class="mdc-button mdc-button--unelevated mat-mdc-unelevated-button mat-primary mat-mdc-button-base"
             routerLink="/">
            <span class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span>
            <span class="mdc-button__label">VOLVER</span>
            <span class="mat-mdc-focus-indicator"></span>
            <span class="mat-mdc-button-touch-target"></span>
          </button>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
