<mat-card-content class="">
  <div class="text-center">
    <h1 style="color: #f3704d;">Usuario</h1>
  </div>

  <div class="or-border m-t-30 m-b-30">Bienvenido a Burger Blend</div>

  <form [formGroup]="userForm" (ngSubmit)="save()">

    <div class="d-flex justify-content-between">
      <mat-form-field appearance="outline" class="w-100" color="primary">
        <mat-label class="f-s-16">Nombres</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="f['name'].hasError('required')">Campo requerido.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100 m-l-10" color="primary">
        <mat-label class="f-s-16">Apellidos</mat-label>
        <input matInput formControlName="lastname">
        <mat-error *ngIf="f['lastname'].hasError('required')">Campo requerido.</mat-error>
      </mat-form-field>
    </div>

    <div class="d-flex justify-content-between">
      <mat-form-field appearance="outline" class="w-100" color="primary">
        <mat-label class="f-s-16">Email</mat-label>
        <input matInput formControlName="email" type="email">
        <mat-error *ngIf="f['email'].hasError('required')">Campo requerido.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100 m-l-10" color="primary">
        <mat-label class="f-s-16">Dirección</mat-label>
        <input matInput formControlName="address">
        <mat-error *ngIf="f['address'].hasError('required')">Campo requerido.</mat-error>
      </mat-form-field>
    </div>

    <div class="d-flex justify-content-between">
      <div class="w-100 m-r-10">
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <mat-label class="f-s-16">Username</mat-label>
          <input matInput formControlName="username">
          <mat-error *ngIf="f['username'].hasError('required')">Campo requerido.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100 m-r-10" color="primary">
          <mat-label class="f-s-16">Celular</mat-label>
          <input matInput formControlName="phone">
          <mat-error *ngIf="f['phone'].hasError('required')">Campo requerido.</mat-error>
        </mat-form-field>
      </div>
      <div class="w-100 d-flex flex-row justify-content-center align-items-center">
        <img *ngIf="imagePreview" [src]="imagePreview" alt="Vista previa de la imagen" class="img-thumbnail"
             style="max-width: 100px; max-height: 153px">
        <div class="d-flex flex-column align-items-center m-r-10">
          <i-tabler name="photo-plus"></i-tabler>
          <button mat-fab extended color="" type="button" (click)="fileInput.click()" class="cursor-pointer">
            <p>Subir Perfil</p>
          </button>
          <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="image" name="image">
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between">
      <mat-form-field appearance="outline" class="w-100 m-r-10" color="primary">
        <mat-label class="f-s-16">Password</mat-label>
        <input matInput formControlName="password" type="password">
        <mat-error *ngIf="f['password'].hasError('required')">Campo requerido.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100" color="primary">
        <mat-label class="f-s-16">Repetir Password</mat-label>
        <input matInput formControlName="repeatPassword" type="password">
        <mat-error *ngIf="f['repeatPassword'].hasError('required')">Campo requerido.</mat-error>
        <mat-error *ngIf="f['repeatPassword'].hasError('confirmedValidator')">Password's no coinciden.</mat-error>
      </mat-form-field>
    </div>

    @if (data.id) {
      <mat-form-field appearance="outline" class="w-100" color="primary">
        <mat-label class="f-s-16">Rol</mat-label>
        <mat-select formControlName="role">
          <mat-option *ngFor="let role of roles" [value]="role">
            {{ role }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    }

    <div class="d-flex justify-content-around">
      @if (data.id) {
        <mat-slide-toggle formControlName="active">Activo</mat-slide-toggle>
      }
      <button mat-fab extended color="primary" type="submit" [disabled]="userForm.invalid">
        <div class="d-flex align-items-center">
          <i-tabler name="plus" class="icon-20 d-flex m-r-10"></i-tabler>
          <p style="font-size: larger">Registrar</p>
        </div>
      </button>
    </div>
  </form>
</mat-card-content>
