<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Órdenes</mat-card-title>
    <span class="flex-1-auto"></span>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <div class="row">
      <div class="m-l-20">
        <table mat-table [dataSource]="dataSource" class="table-borderless">

          <mat-header-row matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600"> N° Orden</th>
            <td mat-cell *matCellDef="let element"> {{ element.id }}</td>
          </mat-header-row>

          <!-- Client Column -->
          <mat-header-row matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600"> Cliente</th>
            <td mat-cell *matCellDef="let element">
              <div class="d-flex align-items-center">
                <img width="40" height="40" class="rounded-circle" src="{{ element.userImage }}" alt="{{ element.userName }}">
                <div class="m-l-16">
                  <p class="mat-subtitle-1 f-s-16">{{ element.userName }}</p>
                  <small class="mat-body-1 f-s-14">{{ element.userContact }}</small><br/>
                  <small class="mat-body-1 f-s-14">{{ element.userAddress }}</small>
                </div>
              </div>
            </td>
          </mat-header-row>

          <!-- Food Column -->
          <mat-header-row matColumnDef="product">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600"> Pedido</th>
            <td mat-cell *matCellDef="let element">
              <div *ngFor="let item of element.orderItems" class="d-flex align-items-center m-b-10" style="border: 1px solid lightslategray; padding: 5px; border-radius: 10px">
                <img width="40" height="40" class="rounded-circle" src="{{ item.foodImage }}" alt="{{ item.foodName }}">
                <div class="m-l-16">
                  <p class="mat-subtitle-1 f-s-16">{{ item.foodName }}</p>
                  <small class="mat-body-1 f-s-16">Cantidad: {{ item.quantity }}</small> <br/>
                  <small class="mat-body-1 f-s-16">Subtotal: S/. {{ item.subtotal | number: '1.2-2' }}</small>
                </div>
              </div>
            </td>
          </mat-header-row>


          <!--<mat-header-row matColumnDef="product">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600"> Pedido</th>
            <td mat-cell *matCellDef="let element">
              <div *ngFor="let item of element.orderItems" class="d-flex align-items-center">
                <div class="m-l-16">
                  <p class="mat-subtitle-1 f-s-16">N: {{ item.foodName }}</p>
                  <p class="mat-subtitle-1 f-s-16">D: {{ item.foodDescription }}</p>
                  <small class="mat-body-1 f-s-14">Cantidad: {{ item.quantity }}</small>
                  <small class="mat-body-1 f-s-14">Subtotal: {{ item.subtotal }}</small>
                </div>
              </div>
              &lt;!&ndash;<div class="d-flex align-items-center">
                &lt;!&ndash;<img width="40" height="40" class="rounded-circle" ngSrc="{{ element.image }}" alt="{{ element.name }}">&ndash;&gt;
                <div class="m-l-16">
                  <p class="mat-subtitle-1 f-s-16">{{ element.orderItems.foodId }}</p>
                  <small class="mat-body-1 f-s-14">{{ element.orderItems.quantity }}</small>
                  <small class="mat-body-1 f-s-14">{{ element.orderItems.subtotal }}</small>
                </div>
              </div>&ndash;&gt;
            </td>
          </mat-header-row>-->

          <!-- Instructions column -->
          <mat-header-row matColumnDef="instructions">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600"> Instrucciones</th>
            <td mat-cell *matCellDef="let element"> {{ element.instructions }}</td>
          </mat-header-row>

          <mat-header-row matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600"> Total</th>
            <td mat-cell *matCellDef="let element" class="f-w-600"> {{ 'S/. ' + element.total }}</td>
          </mat-header-row>

          <mat-header-row matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;" class="f-s-16 f-w-600"> Acciones</th>
            <td mat-cell *matCellDef="let element">
              <button mat-fab color="primary m-2" class="m-r-10 cursor-pointer">
                <i-tabler name="eye" class="icon-18"></i-tabler>
              </button>
            </td>
          </mat-header-row>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 20, 30, 50, 100]" showFirstLastButtons aria-label="Select page of foods">
        </mat-paginator>
      </div>
    </div>
  </mat-card-content>
</mat-card>
